@use '@/shared/styles/variables' as *;

.orderPage {
  display: flex;
  flex-direction: column;
  gap: 24px;

  padding: 24px;
  min-height: calc(100vh - 60px);
}

.title {
  font-size: 24px;
  font-weight: $font-weight-bold;
  color: $text-color;
}

.empty {
  font-size: 14px;
  color: $text-color;
  opacity: 0.7;

  padding: 16px;
  border: 1px dashed $border-color;
  border-radius: 12px;
  text-align: center;
}

.ordersWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.ordersColumn {
  display: flex;
  flex-direction: column;
  gap: 12px;

  h2 {
    font-size: 16px;
    font-weight: $font-weight-bold;
  }
}

@media (max-width: 900px) {
  .ordersWrapper {
    grid-template-columns: 1fr;
  }
}